body {
    margin: 0;
    padding: 0;
}

label {
    font-size: 20px;
}

h3 {
    border-bottom: #555555 solid 1px;
    width: 700px;
    padding-bottom: 10px;
    margin: 30px 40px 5px 40px;
}

ul {
    margin-top: 0;
    list-style: none;
}

li {
    border-bottom: #555555 solid 1px;
    width: 700px;
    margin: 30px 0 5px 0;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    height: 40px;
    width: 60px;
    cursor: pointer;
}

button:hover {
    background-color: #555555;
    color: white;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.tasks-list {
    list-style: none;
}

#container {
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

#add-task {
    height: 50px;
}

#new-task {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

#item-title {
    display: inline-block;
    width: 88%;
}

.list-item {
    margin: 20px 0 20px 0;
    font-size: 16px;
}

.tasks-container {
    margin-top: 100px;
    margin-left: 4%;
    width: 100%;

}

.task-container {
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    border: #555555 solid;
    width: 45%;
}